<div class="bg-green p-4">
<form action="/search" method="post">
    <div class="row input-group w-75 pl-5 pr-5 mx-auto">
        <input class="col-10 form-control" name="keyword" type="text"/>
        <button class="col-2 btn btn-outline-light" name="submit" type="submit">Search</button>
    </div>
</form>
</div>