<%- include("partials/header"); -%>
<%- include("partials/navigation"); -%>

<div class="jumbotron bg-light">
<div class="ml-auto mr-auto w-75">
    <h3 class="display-4 font-italic">Search for Books</h3>
    <form action="/search" method="post">
    <div class="input-group mb-3">
        <input class="form-control" name="keyword" type="text"/>
        <button class="btn btn-outline-secondary" name="submit" type="submit">Search</button>
    </div>
    </form>
</div>
</div>

<div>
    
</div>

<%- include("partials/footer"); -%>

