body{
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
}

input[type=text], input[type=password]{
  border-radius: 5px;
  font-size: 21px;
}

/* Classes */
.showError{
  color: red;
  visibility: hidden;
}

.hide{
  visibility: hidden;
}

/* containers */
.sign-in-container{
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 120px;
  padding: 50px 0 50px 0;
  width: 50%;
}

/* Table */
.table-item{
  padding: 20px;
}