html, body{
  background-color: #4D4755;
}

input[type=text], input[type=password]{
  border-radius: 5px;
  font-size: 21px;
}

nav a{
  color: whitesmoke;
}

nav a:hover{
  color: #D6AC97;
}

/* containers */
.sign-in-container{
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 120px;
  padding: 50px 0 50px 0;
  width: 50%;
}

.jumbotron-library{
  background-image: url("/images/library1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.jumbotron-library-inner{
  margin-top: 100px;
  padding: 20px;
}

.jumbotron-book{
  background-image: url("/images/library2.jpg");
  color: black;
  height: 800px;
}

.jumbotron-book-inner{
  margin-top: 100px;
  padding: 20px;
}

/* Table */
.table-item{
  padding: 20px;
}

/* Colors */
.bg-dark-brown{
  background-color: #4D4755;
  color: white;
}

.bg-light-brown{
  background-color: #D6AC97;
}

.bg-blue{
  background-color: #7B90B3;
  color: white;
}

.bg-green{
  background-color: #91B3BC;
  color: black;
}

.color-blue{
  color: #7B90B3;
}

.color-green{
  color: #91B3BC;
}

.color-light-brown{
  color: #D6AC97;
}