html {
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
  }
  

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Classes */
.showError{
  color: red;
  visibility: hidden;
}

.hide{
  visibility: hidden;
}

/* Table */
.table-item{
  padding: 40px 20px 40px 20px;
}